/* Animation */
.fade-in {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Experience Cards */
.experience {
  background: #020617;
}

.card {
  background: #0f172a;
  padding: 25px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #38bdf8;
}

.card span {
  font-size: 14px;
  color: #94a3b8;
}

.card ul {
  margin-top: 10px;
}

.card ul li {
  margin-bottom: 8px;
}
