/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e7eb;
  overflow-x: hidden;
}

/* ===== HERO ===== */
.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e3a8a, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile Image Animation */
.hero-content img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  object-fit: cover;
  margin-bottom: 15px;
  animation: float 4s ease-in-out infinite;
  box-shadow: 0 0 25px rgba(56,189,248,0.6);
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

.hero-content h1 {
  font-size: 40px;
  color: #fff;
}

.hero-content h2 {
  color: #38bdf8;
  margin-top: 5px;
}

.hero-content p {
  margin-top: 10px;
  color: #c7d2fe;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 12px 26px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* ===== SECTIONS ===== */
section {
  padding: 60px 20px;
  text-align: center;
}

section h2 {
  color: #38bdf8;
  margin-bottom: 30px;
}

/* ===== CARDS ===== */
.card {
  max-width: 900px;
  margin: 20px auto;
  background: #1e293b;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
  text-align: left;
}

.card h3 {
  color: #38bdf8;
}

.card span {
  font-size: 14px;
  color: #94a3b8;
}

.card ul {
  margin-top: 12px;
  padding-left: 18px;
}

.card ul li {
  margin-bottom: 8px;
}

/* ===== SKILLS ===== */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skills span {
  background: #1e293b;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.skills span:hover {
  transform: translateY(-6px);
  background: #38bdf8;
  color: #020617;
}

/* ===== FOOTER ===== */
footer {
  background: #020617;
  text-align: center;
  padding: 15px;
  color: #94a3b8;
  font-size: 14px;
}
